body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
@media screen and (max-width: 319px) {
  body {
    min-width: 320px;
  }
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --customers-icon: #8e8f99;
  --white-text: #ffffff;
  --social-icons-bg: #4d5ae5;
  --icon-social-color: #f4f4fd;
}
/* Reset-Defolt*/
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
}
section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.container {
  padding-left: 14px;
  padding-right: 14px;
}
/* Mobile style &>*/
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin: 0 auto;
  }
}
/* Tablet styles & > */
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
/* Desktop styles & > */
@media only screen and (min-width: 1158px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container {
    width: 1158px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**
  |============================
  | Header
  |============================
*/
.header-block {
  z-index: 10;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-bg-white {
  color: #2e2f42;
}

.nav-link {
  position: relative;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.nav-link:hover,
.link.nav-link:focus {
  color: var(--ocean);
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 5px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.nav-link.current {
  color: var(--ocean);
}
.nav-link.current::after,
.nav-link:hover::after,
.nav-link:focus::after {
  background-color: var(--ocean);
}
.adress-item {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.adress-item:hover,
.link.adress-item:focus {
  color: var(--ocean);
}
.menu-toggle-btn {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  padding: 0;
  line-height: 0;
}
.menu-toggle-icon {
  stroke: var(--navy-blue);
}
/* phone 428 px*/
@media screen and (max-width: 767px) {
  .header-block {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-list {
    display: none;
  }

  .adress-list {
    display: none;
  }
}
/* Tablet 768 - 1157 px*/
@media only screen and (min-width: 768px) {
  .menu-toggle-btn {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: baseline;
  }
  .menu-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }
  .adress-list {
    margin-left: 121px;
  }
  .list-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
/* Desktop min1158 px*/
@media only screen and (min-width: 1158px) {
  .menu-list {
    margin-left: 76px;
  }
  .adress-list {
    margin-left: auto;
  }
  .list-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
/**
  |============================
  | Main Page1
  |============================
*/

/*Hero section*/

.hero-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--navy-blue-modal);
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
}
.hero-wraper {
}
.tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.button-orderservice {
  background-color: var(--iris);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;

  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-orderservice:hover,
.button-orderservice:focus {
  background-color: var(--ocean);
}
/* phone 428 px*/
@media only screen and (max-width: 767px) {
  .hero-section {
    max-width: 428px;
  }
  .tittle {
    width: 320px;
    font-size: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-mobile1x.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/bg-mobile2x.jpg");
    }
  }
}
/* Tablet 768 - 1157 px*/
@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-tablet1x.jpg");
  }
  .tittle {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/bg-tablet@2x.jpg");
    }
  }
}
/* Desktop min 1158 px*/
@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/bg-desktop@2x.jpg");
    }
  }
}

/*1 section*/
.feature-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}
/*.feature-item {
  flex-basis: calc((100% - 72px) / 4);
}*/
.feature-icon {
  display: none;
}
.list-item-tittle {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.list-item-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  align-self: stretch;
}
/* phone 428 px*/
@media only screen and (max-width: 767px) {
  .feature-item {
    width: 396px;
  }
}
/* Tablet 768 - 1157 px*/
@media only screen and (min-width: 768px) {
  .feature-item {
    width: 356px;
  }
  .list-item-tittle {
    text-align: left;
  }
}
/* Desktop min 1158 px*/
@media only screen and (min-width: 1158px) {
  .feature-section {
    padding: 120px 0;
  }
  .feature-item {
    width: 264px;
  }
  .feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .list-item-tittle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .list-item-text {
    font-weight: 400;
  }
}

/*2 section*/
.section-products {
  padding-bottom: 120px;
}
.second-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.list-products {
  display: flex;
  gap: 24px;
}
.item-product {
  width: calc((100% - 48px) / 3);
}
@media only screen and (max-width: 1157px) {
  .section-products {
    display: none;
  }
}
/*3 section*/
.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-tittle {
  margin-bottom: 72px;
}

.team-list-item {
  width: 264px;
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
}
.card-item {
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}
.name-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}
.text-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-item {
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}
.social-icon {
  fill: #f4f4fd;
}
@media only screen and (max-width: 767px) {
  .team-list-item {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
  }

  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    align-items: center;
  }
  .team-list-item {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }
}
/* 4 section */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}
.customers-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-link {
  height: 100%;
  width: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-icon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}
.customers-icon {
  fill: currentColor;
}

@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}
/**
  |============================
  | Footer
  |============================
*/
.footer-section {
  background-color: var(--navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-left-side {
  margin-bottom: 72px;
}
.foot-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  display: flex;
  align-items: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.logo-bg-navy {
  color: #f4f4fd;
}
.foot-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  max-width: 268px;
  margin-left: auto;
  margin-right: auto;
}

.social-tittle {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-text);
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-item {
}
.footer-soc-link {
  width: 40px;
  height: 40px;
  background-color: var(--social-icons-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--green);
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-right-side {
}
.subscribe-form {
}
.subscribe-label {
  display: block;
  text-align: center;
}

.field-email {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-text);

  border: 1px solid#FFFFFF;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  text-align: center;

  color: var(--white-text);
  background-color: var(--iris);
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--ocean);
  cursor: pointer;
}
.subscribe-btn-icon {
  fill: currentColor;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-left-side {
    margin-right: 24px;
  }
  .foot-logo {
    text-align: left;
  }
  .social-tittle {
    text-align: left;
  }
  .subscribe-wrapper {
    display: flex;
  }
  .field-email {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-left-side {
    margin-right: 120px;
  }
  .footer-center-part {
    margin-right: 80px;
  }
}

/**
  |============================
  | Main Page2
  |============================
*/
.portfolio {
  padding: 96px 0 120px;
}
.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  background-color: var(--cloud);
  color: var(--iris);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    boerder-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:hover,
.button-item:focus {
  color: #ffffff;
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Projects*/

.project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.project-box {
  width: calc((100% - 48px) / 3);
}
.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  overflow-y: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  background-color: #4d5ae5;
  color: #f4f4fd;
}
.project-category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.project-class {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-link:hover .overlay-label,
.project-link:focus .overlay-label {
  transform: translate(0, 0);
}
/**
  |============================
  | Modal Window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 408px;
  height: 576px;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  margin-right: 24px;
  margin-top: 24px;
  background: #e7e9fc;
  border-radius: 50%;
  color: var(--navy-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  fill: currentColor;
}
.close-modal-btn:hover,
.close-modal-btn:focus {
  color: #ffffff;
  background-color: var(--ocean);
}
.is-hidden.modal {
  scale: 50%;
  transform: translate(-100%, -100%);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  display: block;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/*Modal form*/

.modal-form {
}
.modal-form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}
.modal-form-field {
  display: block;
  position: relative;
  margin-top: 4px;
  color: var(--navy-blue-modal);
}
.modal-form-input {
  display: block;
  width: 100%;
  padding: 11px 16px 11px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--iris);
}
.form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
  outline: none;
  border-color: var(--iris);
}
.modal-form-input:focus ~ .form-input-icon {
  fill: var(--iris);
}
.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;

  letter-spacing: 0.04em;
}
.form-checkbox-label a {
  color: var(--iris);
}
.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.form-checkbox-input:checked + .form-checkbox {
  border: 1px solid var(--ocean);
  background-color: var(--ocean);
}

.form-checkbox-icon {
  fill: var(--white-text);
}

.form-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text);
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--ocean);
}
/**
  |============================
  | Mobile MENU style
  |============================
*/
@media screen and (max-width: 767px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 40px 40px 40px;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  margin-right: 24px;
  margin-top: 24px;

  background-color: var(--cloud);
  border-radius: 50%;
  color: var(--navy-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  margin-bottom: auto;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--grey);
}
.mobile-active {
  color: var(--ocean);
}
.mobile-contacts {
  display: flex;
  gap: 40px;
  align-content: space-between;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 48px;
}
.mobile-phone-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--iris);
}

.mobile-email-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--slate);
}
.mobile-socials {
  display: flex;
  gap: 56px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--social-icons-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials-icon {
  fill: #ffffff;
}
